body {
  height: 100%;
  background-size: auto;
  background: linear-gradient(0.6turn, #74ebd5, #ACB6E5);
  background: #C3F5F4;
  margin: 0px;
  font-family: Roboto, sans-serif;
  color: #fff;
  padding: 0px;
}

h4 {
  font-family: 'Rubik', sans-serif;
  font-weight:400;
  color: #5D5D5C;
  text-transform: uppercase;
  letter-spacing: .02rem;
  margin-top: 0;
}

header {
  text-align: center;
  padding: 20px 0 5px 0;
}

header h1{
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.6em;
  color: #8fadbc;
}

.cta {
  display: grid;
  max-width: 380px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr; 
  justify-items: center;
  align-items: center; 
  grid-template-rows: auto; 
  padding: 0 16px 25px 16px;
}

.cta > div {
  text-align:center;
}
.emotion {
  width: 110px;
  height: 110px;
  margin: 20px 0;
  font-size: 5em;
  text-align: center;
  border-radius: 100px;
}
.happy{
    background-color: #FAA062;
}
.sad{
    background-color: #787881;
}
.worried{
    background-color: #6BB2ED;
}
.angry{
    background-color: #F3837E;
}
.far {
  position: relative;
  top: 13%;
}
.emotion .fa-smile {
 /* background-color: #FFEA7B;*/
}
.emotion .fa-sad-tear {
  vertical-align: middle;
}
.emotion .fa-angry{
}
.emotion .fa-meh{
}

/*  responsive min 768*/
@media all and (min-width: 640px){
  .cta {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width:980px;
    min-width: 600px;
    min-height: 40vh;
  }
  header {
    padding: 15vh 0 45px 0;
  }
  header h1{
    font-size: 3.6em;
}
